
// Body
$body-bg: #f5f8fa;
$bg-color: #fff;
$sections-color: #f1f0f6;

// Typography
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

//front page colors

$font-normal-color: #656684;

//red section
$red-sec: #de6b59;
$blue-sec: #4ba7ee;
$green-sec: #67ac5b;
